@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://use.typekit.net/wyl2nbc.css");
@import "tailwindcss";

@tailwind utilities;
:root {
  --background: #fffef1;
  --foreground: #3c1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: "Bebas Neue", "sans-serif";
  --font-neue: "neue-haas-grotesk-display", sans-serif;
  /* colors */

  /* primary */
  --color-primary-200: #faa5a4;
  --color-primary-300: #f77877;
  --color-primary-400: #f54b4a;
  --color-primary-500: #f31e1d;
  --color-primary-600: #c21817;
  --color-primary-700: #911211;
  --color-primary-800: #610c0b;

  /* secondary */
  --color-secondary-200: #faf2b5;
  --color-secondary-300: #f8ec90;
  --color-secondary-400: #f6e66b;
  --color-secondary-500: #f4e046;
  --color-secondary-600: #c3b338;
  --color-secondary-700: #92862a;
  --color-secondary-800: #61591c;

  /* neutral */
  --color-beige: #fffef1;
  --color-darkbrown: #3c1f1f;

  /* status */
  --color-success: #81ff89;
  --color-cancel: #f4e046;
  --color-configure: #f3811d;
  --color-danger: #f54b4a;

  --text-headline1-desktop: 230px;
  --text-headline1-mobile: 150px;
  --text-headline2-desktop: 34px;
  --text-headline2-mobile: 25px;
  --text-headline3-desktop: 30px;
  --text-headline3-mobile: 21px;
  --text-headline4-desktop: 20px;
  --text-headline4-mobile: 18px;
  --text-body-normal-desktop: 16px;
  --text-body-normal-mobile: 14px;
  --text-body-small-desktop: 13px;
  --textbody-small-mobile: 13px;
  /* spacing */
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-s: 24px;
  --spacing-sm: 32px;
  --spacing-m: 40px;
  --spacing-ml: 48px;
  --spacing-lg: 56px;
  --spacing-xl: 64px;
  --spacing-2xl: 72px;
  --spacing-3xl: 80px;
  --spacing-4xl: 88px;
  --spacing-5xl: 96px;
  --spacing-6xl: 104px;
  --spacing-7xl: 112px;
  --spacing-8xl: 120px;
  --spacing-9xl: 128px;

  --font-weight-thin: 200;
  --font-weight-light: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-bold: 900;
}

/* Darkmode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
  scroll-behavior: smooth;
}
h1 {
  @apply font-bebas;
  line-height: 77%;
  letter-spacing: -1%;
  @apply text-headline1-mobile;
  @apply lg:text-headline1-desktop;
  @apply font-light;
  @apply transition-all;
  @apply ease-in-out;
}

h2 {
  @apply font-neue;
  @apply text-headline2-mobile;
  @apply lg:text-headline2-desktop;
  @apply italic;
  @apply font-bold;
  @apply transition-all;
  @apply ease-in-out;
}
h3 {
  @apply text-headline3-mobile;
  @apply lg:text-headline3-desktop;
  @apply font-black;
  @apply transition-all;
  @apply ease-in-out;
}
h4 {
  @apply text-headline4-mobile;
  @apply lg:text-headline4-desktop;
  @apply font-bold;
  @apply transition-all;
  @apply ease-in-out;
}
h2,
h3,
h4 {
  @apply uppercase;
}
.navlink {
  @apply uppercase;
  font-size: 20px;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "neue-haas-grotesk-display", sans-serif;
  @apply font-neue;
  @apply font-light;
  @apply text-body-normal-mobile;
  @apply lg:text-body-normal-desktop;
  @apply transition-all;
  @apply ease-in-out;
}

/*   font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal; */

p {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-darkbrown);
}

/* Fonts */
/* Neue Haas Grotesk Display Pro 45 Light
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 400;
font-style: normal;

Neue Haas Grotesk Display Pro 46 Light Italic
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 400;
font-style: italic;

Neue Haas Grotesk Display Pro 75 Bold
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: normal;

Neue Haas Grotesk Display Pro 76 Bold Italic
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;

Neue Haas Grotesk Display Pro 95 Black
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 900;
font-style: normal;

Neue Haas Grotesk Text Pro 55 Roman
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 400;
font-style: normal;

Neue Haas Grotesk Text Pro 56 Italic
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 400;
font-style: italic;

Neue Haas Grotesk Text Pro 75 Bold
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 700;
font-style: normal;

Neue Haas Grotesk Text Pro 76 Bold Italic
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 700;
font-style: italic; */

/* Animations */
@keyframes slow-wiggle {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: -100px;
  }
  100% {
    margin-top: 0px;
  }
}

.stroke-text {
  -webkit-text-stroke: 1px var(--color-darkbrown);
  color: transparent;
}
.price {
  @apply font-light;
  @apply italic;
}
.slideIn {
  animation: slideInAnimation 0.7s;
}

@keyframes slideInAnimation {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@layer utilities {
  .form-field {
    @apply mb-s;
  }

  .form-label {
    @apply block mb-xxs font-semibold;
  }

  .form-input {
    @apply w-full border border-darkbrown p-xs rounded-sm h-sm;
  }

  .form-select {
    @apply w-full border border-darkbrown p-xxs rounded-sm capitalize;
  }

  .form-input:invalid,
  select:invalid {
    @apply border-danger bg-danger/5;
  }
  .disabled-button {
    @apply bg-gray-300 text-gray-400;
  }
  ::placeholder {
    @apply italic;
  }
}

@layer base {
  dialog {
    @apply bg-[#F9F9F9] m-auto rounded-md border-2 border-configure md:w-[500px]  p-xs;
  }
  dialog::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.206);
  }

  /* Fundet på reddit, det var smart */
  body:has(dialog[open]) {
    overflow: hidden;
  }

  .burgermenu-backdrop {
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.206);
  }
}
